@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}

body {
  color: #14212e;
}

::selection {
  background-color: #aed731;
  color: #054171;
}
